.App {
  height: 100px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #262626;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-subtitle {
  color: gray
}

.App-link {
  color: #09d3ac;
}

.App-content {
  min-width: 80vw;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewport {
  background: #dddddd;
  height: 50vmin;
  width: 90%;
  border: solid 5px black;
  margin: 10px;
}
